---
---
@charset "utf-8";
@import "tachyons";

$gold          : #D4A14B;
$primary-color : $gold;
$code-font     : Consolas, "Liberation Mono", Menlo, Courier, monospace;
$font-family   : -apple-system, BlinkMacSystemFont, Roboto, sans-serif;

/* complementary special hover color */

.hover-gold:focus,
.hover-gold:hover,
.gold,
.gold.no-underline:hover,
.gold.no-underline:hover::after,
.gold.no-underline::after {
	color: $gold;
}

a.link-gold {
  text-decoration: none;
  border-bottom: 3px solid $gold;
  position: relative;

  &:hover {
    color: $gold;
  }
}

a.link-dotted {
  text-decoration: none;
  border-bottom: 3px dotted #ddd;
  position: relative;
}
