---
---
@charset "utf-8";
@import "tachyons";

$gold          : #D4A14B;
$primary-color : $gold;
$code-font     : Consolas, "Liberation Mono", Menlo, Courier, monospace;
$font-family   : -apple-system, BlinkMacSystemFont, Roboto, sans-serif;

/* complementary special hover color */

.hover-gold:focus,
.hover-gold:hover,
.gold,
.gold.no-underline:hover,
.gold.no-underline:hover::after,
.gold.no-underline::after {
	color: $gold;
}

.gold.no-underline {
	color: $near-white;
	text-decoration: none;
	display: inline-block;
  position: relative;
}

.gold.no-underline::after {
	content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
	border-bottom: .25rem solid;
	margin-top: 9%;
}