title: Kikobeats
email: josefrancisco.verdu@gmail.com
description: A millennial doing stuff on internet that ships software every day and builds digital products.
github: kikobeats
author: kikobeats
logo: /images/avatar-glitch.jpg

social:
  name: Kiko Beats
  links:
    - https://twitter.com/kikobeats
    - https://github.io/kikobeats
    - https://www.linkedin.com/in/kikobeats

twitter:
  username: kikobeats

permalink: "/:title/"
disqus_shortname: kikobeats
google_analytics: UA-34372837-2

exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - README.md

plugins:
  - jekyll-archives
  - jekyll-sitemap
  - jekyll-seo-tag
  - jekyll-feed
  - jekyll-paginate

defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
      comments: true

  -
    scope:
      path: ""
    values:
      layout: "page"
  -
    scope:
      path: "index.html"
    values:
      layout: "default"

jekyll-archives:
  enabled:
    - categories
