<footer class="sans-serif near-black bt b--light-gray">
  <section class="center pa4-l pa3 mw-800">
    <div class="flex flex-column flex-row-ns justify-between items-start items-center-ns">
      <div class="mb3 mb0-ns">
        <a class="link near-black dim lh-title fw6 f5" href="mailto:josefrancisco.verdu@gmail.com?subject=Hello,%20I%20saw%20your%20web!">
          josefrancisco.verdu@gmail.com
        </a>
        <div class="black-60 f5 lh-title mt2">
          © {{ "now" | date: "%Y" }} Kiko Beats
        </div>
      </div>

      <nav class="lh-title f5">
        <a class="link blue dim mr3" href="https://github.com/kikobeats">GitHub</a>
        <a class="link blue dim" href="https://www.linkedin.com/in/kikobeats">LinkedIn</a>
        <a class="link blue dim mr3" href="https://x.com/kikobeats">X</a>
      </nav>
    </div>
  </section>
</footer>
