<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% if page.title %}
  <meta name="twitter:title" content="{{ page.title }}" />
{% endif %}

{% if page.image %}
  <meta name="twitter:image" content="{{ page.image }}" />
{% else %}
  <meta name="twitter:image" content="https://kikobeats.com/favicon.ico" />
{% endif %}

<meta name="twitter:label1" value="Category"/>
<meta name="twitter:data1" value="{{ page.tags | join: ', ' | capitalize }}"/>

<meta name="twitter:label2" value="Reading time"/>

{% assign words = content | number_of_words %}
{% if words < 360 %}
  <meta name="twitter:data2" value="1 min read"/>
{% else %}
  <meta name="twitter:data2" value="{{ words | divided_by:180 }} min read"/>
{% endif %}

{% seo %}
{% feed_meta %}

<link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">
<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
