<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% if page.title %}
<meta name="twitter:title" content="{{ page.title }}" />
{% endif %}

<meta name="twitter:image" content="{{ page.image | default: site.logo }}" />
<meta property="og:logo" content="{{ site.logo }}" />

{% if page.layout == 'post' %}
<meta name="twitter:label1" value="Reading time" />
{% assign words = content | number_of_words %}
{% if words
< 360 %} <meta name="twitter:data1" value="1 min read" />
{% else %}
<meta name="twitter:data1" value="{{ words | divided_by:180 }} min read" />
{% endif %}

<meta name="twitter:label2" value="Twitter" />
<meta name="twitter:data2" value="twitter.com/Kikobeats" />

{% else %}
<meta name="twitter:label1" value="GitHub" />
<meta name="twitter:data1" value="github.com/Kikobeats" />
<meta name="twitter:label2" value="Twitter" />
<meta name="twitter:data2" value="twitter.com/Kikobeats" />

{% endif %}

{% seo %}
{% feed_meta %}

<link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">
<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
