<nav class="sans-serif nearb-black dt w-100 border-box pv2-l ph3 max-width-large mauto">
  {% if page.url != '/' and page.url != '/blog/' %}
  <a class="dtc v-mid mid-gray link dim w-25-ns w-10" href="/" title="Home">
    <div class="flex items-center">
      <img src="/images/avatar-glitch.png" class="dib w2 h2 br2" alt="Kiko Beats">
      <span class="f6 fw7 pl2 near-black db-ns dn lh-copy">Kiko Beats</span>
    </div>
  </a>
  {% endif %}
  <div class="dtc v-mid w-75-ns w-90 tr">
    {% if page.url != '/' %}
    <a class="dim tracked-light ttu near-black f6-l f7 link ml3 mr3 sm-ml4 sm-mr4 mt3 mb3 dib fw7 link pt2 pb2"
      href="/">Work</a>
    {% endif %}
    <a class="dim tracked-light ttu near-black f6-l f7 link ml3 mr3 sm-ml4 sm-mr4 mt3 mb3 dib fw7 link pt2 pb2"
      href="/blog">Writings</a>
    <a class="dim tracked-light ttu near-black f6-l f7 link ml3 mr3 sm-ml4 sm-mr4 mt3 mb3 dib fw7 link pt2 pb2"
      target="_blank" href="https://github.com/kikobeats">GitHub</a>
  </div>
</nav>
