<section class="post-footer helvetica dt mauto max-width-blog near-black ph5-l pv4-l ph3 bt b--light-gray">
  <div class="dtc v-mid ph2">
    <img src="/images/avatar-glitch.png" alt="Kiko Beats" class="br2 mw3" />
  </div>
  <div class="dtc v-top ph2">
    <p id="post-footer-title" class="lh-copy fw6 f5 mv0">Written by Kiko Beats</p>
    <p class="lh-copy fw6 f5 mv0 dn-l dn-m">Kiko Beats</p>
    <p id="post-footer-description" class="lh-copy mv0">Web is the Platform. Programmer, Computer Science & Software Engineer.
    </p>
    <p class="lh-copy mv0 dn-l dn-m">Web is the Platform.</p>
  </div>
</section>
<style>
  .post-footer {
    padding: 2.8rem;
  }

  @media screen and (max-width: 30em) {
    #post-footer-description,
    #post-footer-title {
      display: none;
    }

    .post-footer {
      padding: 1.8em 2.8em;
    }
  }
</style>
