<section class="post-footer sans-serif dt mauto max-width-blog near-black ph5-l pv4-l ph3 bt b--light-gray">
  <div class="dtc v-mid ph2">
    <img src="/images/avatar-glitch.png" alt="Kiko Beats" class="br2 mw3" />
  </div>
  <div class="dtc v-top ph2">
    <p class="post-footer-title lh-copy fw6 f5 mv0 b-ns dn">Written by Kiko Beats</p>
    <p class="lh-copy fw6 f5 mv0 dn-l dn-m">Kiko Beats</p>
    <p class="post-footer-description lh-copy mv0">
      Web is the Platform. <span class="db-ns dn post-footer-desktop-description">Programmer, Computer Science &
        Software Engineer.</span>
    </p>
  </div>
</section>
<style>
  .post-footer {
    padding: 2.8rem;
  }

  @media screen and (max-width: 30em) {
    .post-footer {
      padding: 1.8em 2.8em;
    }
  }
</style>
