::selection {
  background-color: $primary-color;
  color: $white;
}

.anchorjs-link {
  color: rgba($near-black, .35);
}

.link-underline {
  text-decoration-style: solid;
  text-decoration-color: $primary-color;
  text-decoration-line: underline;
  text-underline-position: under;

  &:hover {
    padding: 2px;
    margin: -2px;
    border-bottom: none;
    background-color: $primary-color;
  }
}

.link-dotted {
  text-decoration-style: dotted;
  text-decoration-color: $secondary-color;
  text-decoration-line: underline;
  text-underline-position: under;

  &:hover {
    animation: zomg 1.2s infinite;
  }
}

.animate-glitch {
  &:hover {
    animation: glitch 0.9s infinite;
  }
}

@keyframes zomg {
  0%   { color: $primary-color; }
  25%  { color: $white; }
  50%  { color: $silver; }
  75%  { color: $moon-gray; }
  100% { color: $mid-gray; }
}

@keyframes glitch {
  0%, 100% { filter: invert(0) saturate(100%) hue-rotate(0deg); }
  25%      { filter: invert(10%) saturate(500%) hue-rotate(180deg); }
  50%      { filter: invert(10%) saturate(300%) hue-rotate(300deg); }
  75%      { filter: invert(10%) saturate(500%) hue-rotate(90deg); }
}
