.highlighter-rouge {
  border: 1px solid rgb(234, 234, 234);
  line-height: $line-height;
  padding: 3px 10px;
  margin: 40px 0;
  white-space: pre;
  overflow: auto;
  font-size: 13px;
  tab-size: 2;
  font-family: $code-font;
  border-radius: 3px;
  font-weight: 600;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #969896;
}

.token.punctuation {
  color: #333;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #0086b3;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #183691;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a71d5d;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #a71d5d;
}

.token.function {
  color: #0086b3;
}

.token.regex,
.token.important,
.token.variable {
  color: #e90;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
