---
layout: default
---

{% include navbar.html %}
{% include blog/hero-header.html title=page.title image=page.image %}

<section
  class="layout-{{page.layout}} lh-copy f4 bg-white sans-serif mauto max-width-blog near-black ph5-l pt5-l pb3-l ph3 pv3">
  <date class="ttu f6 b tracked light-silver db">
    {{ page.date | date: "%B %d, %Y" }}
  </date>
  {{content}}
</section>
{% include post-footer.html %}
{% include comments.html %}
{% include footer.html %}
<script src="https://cdn.jsdelivr.net/combine/npm/prismjs@latest,npm/medium-zoom@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@microlink/vanilla@latest/umd/microlink.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    mediumZoom('layout-post img')
    microlink('.card-preview')
  });
</script>
