<section class="bg-white helvetica near-black pv4" data-navbar-show="">
		<header class="Basic-header pv3" id="#work">
			<div class="mauto pl4 pr4 max-width-big-screen">
				<h2 class="m0 f2 lh-1p125 fw-700">Libraries</h2>
			</div>
		</header>
		<article class=" pt0 pb0">
			<div class="mauto pl4 pr4 max-width-big-screen">
				<div class="flex flex-wrap ml-16px mr-16px mt3 mb3">
					<div class="w-100 w-33-ns pl3 pr3 mb4">
						<a class="db link " href="http://compositor.io">
						<div class="w-100">
							<div class="db w-100 h0 pb50 bg-center cover mb2" style="background-image:url(http://compositor.s3.amazonaws.com/images/bikeshed-hero-2.jpg)"></div>
							<h2 class="m0 pt2 pb2 f2 md-fs5 lh-1p125 fw-700">Acho</h2>
							<p class="m0 pb3">The Hackable Log</p>
						</div></a>
					</div>
					<div class="w-100 w-33-ns pl3 pr3 mb4">
						<a class="db link " href="http://tachyons.io">
						<div class="w-100">
							<div class="db w-100 h0 pb50 bg-center cover mb2" style="background-image:url(https://s3-us-west-1.amazonaws.com/c8r-x0/tachyons-dark.png)"></div>
							<h2 class="m0 pt2 pb2 f2 md-fs5 lh-1p125 fw-700">Bumped</h2>
							<p class="m0 pb3">An Awesome [/osom/] Object Data Modeling (Database Agnostic).</p>
						</div></a>
					</div>
					<div class="w-100 w-33-ns pl3 pr3 mb4">
						<a class="db link " href="http://tachyons.io">
						<div class="w-100">
							<div class="db w-100 h0 pb50 bg-center cover mb2" style="background-image:url(https://s3-us-west-1.amazonaws.com/c8r-x0/tachyons-dark.png)"></div>
							<h2 class="m0 pt2 pb2 f2 md-fs5 lh-1p125 fw-700">Osom</h2>
							<p class="m0 pb3">An Awesome [/osom/] Object Data Modeling (Database Agnostic).</p>
						</div></a>
					</div>
				</div>
			</div>
		</article>
		<article class="mauto max-width-big-screen">
			<ul class="list pl0">
				<li class="pa3 pa4-ns">
          <b class="f3 mb1 mr1">browserless</b>
          <span class="f5 lh-copy measure">
            The positioning of text within the page margins. Alignment can be flush left, flush right, justified, or centered. Flush left and flush right are sometimes referred to as left justified and right justified.
          </span>
        </li>
        <li class="pa3 pa4-ns">
          <b class="f3 mb1 mr1">process-stats</b>
          <span class="f5 lh-copy measure">
            The positioning of text within the page margins. Alignment can be flush left, flush right, justified, or centered. Flush left and flush right are sometimes referred to as left justified and right justified.
          </span>
        </li>
        <li class="pa3 pa4-ns">
          <b class="f3 mb1 mr1">splashy</b>
          <span class="f5 lh-copy measure">
            The positioning of text within the page margins. Alignment can be flush left, flush right, justified, or centered. Flush left and flush right are sometimes referred to as left justified and right justified.
          </span>
        </li>
        <li class="pa3 pa4-ns">
          <b class="f3 mb1 mr1">voll</b>
          <span class="f5 lh-copy measure">
            The positioning of text within the page margins. Alignment can be flush left, flush right, justified, or centered. Flush left and flush right are sometimes referred to as left justified and right justified.
          </span>
        </li>
        <li class="pa3 pa4-ns">
          <b class="f3 mb1 mr1">svr</b>
          <span class="f5 lh-copy measure">
            The positioning of text within the page margins. Alignment can be flush left, flush right, justified, or centered. Flush left and flush right are sometimes referred to as left justified and right justified.
          </span>
        </li>
        <li class="pa3 pa4-ns">
          <b class="f3 mb1 mr1">hyperdiff</b>
          <span class="f5 lh-copy measure">
            The positioning of text within the page margins. Alignment can be flush left, flush right, justified, or centered. Flush left and flush right are sometimes referred to as left justified and right justified.
          </span>
        </li>
        <li class="pa3 pa4-ns">
          <b class="f3 mb1 mr1">nodengine</b>
          <span class="f5 lh-copy measure">
            The positioning of text within the page margins. Alignment can be flush left, flush right, justified, or centered. Flush left and flush right are sometimes referred to as left justified and right justified.
          </span>
        </li>
			</ul>
		</article>
	</section>