<section class="bg-white helvetica near-black pa4-l pa3" >
		<header class=" pv3" id="#work">
			<div class="mauto ph4-l max-width-big-screen">
				<h2 class="m0 f2 lh-1p125 fw7">Libraries</h2>
			</div>
		</header>

		<article class="pt0 pb0">
			<div class="mauto ph4-l max-width-big-screen">
				<div class="flex flex-wrap ml-16px mr-16px mt3 mb3">
          {% for project in site.data.libraries.featured %}
          <div class="w-100 w-33-ns ph3 mb4">
						<a class="db link near-black dim" href="{{ project.link }}">
						<div class="w-100">
							<div class="db w-100 h0 pb50 bg-center cover mb2" style="background-image:url({{ project.image}})"></div>
							<h2 class="m0 pt2 pb2 f2-l f3 lh-1p125 fw7 mb2">{{ project.name }}</h2>
							<p class="lh-copy m0 pb3 f3">{{ project.description}}</p>
						</div></a>
					</div>
          {% endfor %}
				</div>
			</div>
      <ul class="list pl0 mauto ph4-l max-width-big-screen">
        {% for project in site.data.libraries.normal %}
        <li class="mb4">
          <a href="{{ project.link}}" class="near-black link link-dotted dim mb1 mr1">
            <b class="f3">{{ project.name }}</b>
          </a>
          <span class="f5 lh-copy measure">{{ project.description}}</span>
        </li>
        {% endfor %}
  		</ul>

      <div class="mauto ph4-l pt3 max-width-big-screen">
        <h3 class="f3 near-black">
          ... and <a class="near-black link link-underline" href="">a lot more!</a>
        </h3>
      </div>
		</article>
	</section>
