<nav class="helvetica pt2 pb2 near-black bg-white">
		<div class="mauto ph4 max-width-big-screen">
			<div class="justify-end items-center flex flex-wrap ml-16px mr-16px sm-ml-32px sm-mr-32px">
				<a class="near-black f4 link ml3 mr3 sm-ml4 sm-mr4 mt3 mb3 dib fw7 link pt2 pb2" href="/#work">Work</a>
        <a class="near-black f4 link ml3 mr3 sm-ml4 sm-mr4 mt3 mb3 dib fw7 link pt2 pb2" href="http://kikobeats.com/blog">Writing</a>
        <a class="near-black f4 link ml3 mr3 sm-ml4 sm-mr4 mt3 mb3 dib fw7 link pt2 pb2" href="https://github.com/kikobeats">GitHub</a>
			</div>
		</div>
	</nav>
