<section class="bg-white sans-serif near-black pt3 ph3">
  <header class="pv4">
    <div class="mauto ph4-l max-width-large">
      <h2 class="f1-l f2 lh-1p125 fw7 mt0 mh0 mb3 serif">Featured Projects</h2>
    </div>
  </header>
  <article class="pt0 pb0">
    <div class="mauto ph4-l max-width-large">
      <div class="flex flex-wrap ml-16px mr-16px mt3">
        <div class="w-100 w-50-ns pl3 pr3 mb4-l mb3">
          <a class="db link near-black" target="_blank" href="https://microlink.io">
            <div class="w-100">
              <div class="db w-100 h0 pb50 bg-center cover mb2" style="background-image:url(/images/microlink.jpg)"
                data-tilt data-tilt-max="10" data-tilt-glare data-tilt-max-glare="0.8" data-tilt-reverse="true"></div>
              <h2 class="m0 pt4 pb3 f2-l f3 lh-1p125 fw7">microlink.io</h2>
              <p class="m0 pb3 f3-l f4">Extract structured data from any website.</p>
            </div>
          </a>
        </div>
        <div class="w-100 w-50-ns pl3 pr3 mb4-l mb3">
          <a class="db link near-black" target="_blank" href="https://urlint.co">
            <div class="w-100">
              <div class="db w-100 h0 pb50 bg-center cover mb2" style="background-image:url(/images/urlint.jpg)"
                data-tilt data-tilt-max="10" data-tilt-glare data-tilt-max-glare="0.8" data-tilt-reverse="true"></div>
              <h2 class="m0 pt4 pb3 f2-l f3 lh-1p125 fw7">urlint.co</h2>
              <p class="m0 pb3 f3-l f4">Check your URLs, keep your links up to date ✨</p>
            </div>
          </a>
        </div>
        <div class="w-100 w-50-ns pl3 pr3 mb4-l mb3">
          <a class="db link near-black" target="_blank" href="https://windtoday.co">
            <div class="w-100">
              <div class="db w-100 h0 pb50 bg-center cover mb2" style="background-image:url(/images/windtoday.jpg)"
                data-tilt data-tilt-max="10" data-tilt-glare data-tilt-max-glare="0.8" data-tilt-reverse="true"></div>
              <h2 class="m0 pt4 pb3 f2-l f3 lh-1p125 fw7">windtoday.co</h2>
              <p class="m0 pb3 f3-l f4">Real time &amp; mobile ecommerce Application.</p>
            </div>
          </a>
        </div>
        <div class="w-100 w-50-ns pl3 pr3 mb4-l mb3">
          <a class="db link near-black" target="_blank" href="https://mythbusters.js.org">
            <div class="w-100">
              <div class="db w-100 h0 pb50 bg-center cover mb2" style="background-image:url(/images/mythbuster.jpg)"
                data-tilt data-tilt-max="10" data-tilt-glare data-tilt-max-glare="0.8" data-tilt-reverse="true"></div>
              <h2 class="m0 pt4 pb3 f2-l f3 lh-1p125 fw7">mythbusters.js.org</h2>
              <p class="m0 pb3 f3-l f4">A JavaScript optimization handbook from a high level point of view.</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </article>
</section>
