<section class="bg-near-black helvetica white pv0-l pv0-m pv4 pv5-l" data-navbar-show="">
    <header class="vh-90 mauto pv0-l pv4 max-width-big-screen">
      <div class="dtc">
        <div class="justify-center flex flex-row-l flex-column items-center">
          <img src="https://pbs.twimg.com/profile_images/876748424690925568/14xPNAvw_400x400.jpg" class="mw6-l mw5 ph4-l br-100 grow mb5-l">

          <div class="ph4">
            <h2 class="f1-l f3 lh-copy">Hey</h2>
            <h1 class="f1-l f3 lh-copy fade-in">
              I'm <spa class="tracked-light gold">Kiko</spa>, a hacker &amp; software engineer working at <a target="blank" href="https://audiense.com" class="link no-underline gold">Audiense</a>.
            </h1>
            <div class="cf fade-in">
              <dl class="fl fn-l w-50 dib-l w-auto-l lh-title mr5-l grow">
                <dd class="f6 fw3 ml0">Age</dd>
                <dd class="f3 ml0">25</dd>
              </dl>
              <dl class="fl fn-l w-50 dib-l w-auto-l lh-title mr5-l grow">
                <dd class="f6 fw3 ml0">From</dd>
                <dd class="f3 ml0">Murcia, Spain</dd>
              </dl>
              <dl class="fl fn-l w-50 dib-l w-auto-l lh-title mr5-l grow">
                <dd class="f6 fw3 ml0">Language</dd>
                <dd class="f3 ml0">JavaScript</dd>
              </dl>
              <dl class="fl fn-l w-50 dib-l w-auto-l lh-title mr5-l grow">
                <dd class="f6 fw3 ml0">Favorite Sport</dd>
                <dd class="f3 ml0">Windsurfing</dd>
              </dl>
            </div>

            <div class="pv4 fade-in-delay">
              <a target="blank" href="https://twitter.com/Kikobeats" title="Twitter" class="f6 dib pr2 gray dim">Twitter</a>
              <a target="blank" href="https://github.com/Kikobeats" title="GitHub" class="f6 dib pr2 gray dim">GitHub</a>
              <a target="blank" href="https://www.linkedin.com/in/kikobeats" title="Linkedin" class="f6 dib pr2 gray dim">Linkedin</a>
            </div>
          </div>
        </div>

      </div>
    </header>
  </section>