<section class="bg-near-black sans-serif white ph4-l pa3">
  <header class="vh-90 mauto max-width-extra-large ph4-l ph0-ns pv4">
    <div class="dtc">
      <div class="justify-center flex flex-row-l flex-column items-center">
        <img id="avatar" src="images/avatar.jpg" class="pointer mw6-l mw5 pr4-l br-100" onmouseover="hover(this);"
          onmouseout="unhover(this);">
        <div class="ph4-l ph3">
          <h2 class="f2-l f3 lh-title mt0">Hey,</h2>
          <h1 class="f2-l f3 lh-title fade-in fade-in-delay-short">
            I’m <span class="cursor-rock tracked-light gold">Kiko Beats</span>, <span class="cursor-unicorn"
              id="job-name"
              data-typist="Web Engineer,Product Engineer,Landing Page Engineer,Unicorn Engineer,Full Stack Engineer,Inspect Element Engineer,Memory Leak Engineer,NaN Engineer,Asynchronous Engineer">a
              millennial doing stuff on internet</span> working at <a target="blank" href="https://www.research.ibm.com"
              class="cursor-work link link-underline white link-job">IBM</a>.
          </h1>
          <div class="cursor-age cf fade-in fade-in-delay-short">
            <dl class="fl fn-l w-50 dib-l w-auto-l lh-title mr5-l grow">
              <dd class="f6 fw3 ml0">Age</dd>
              <dd class="f3 ml0">26</dd>
            </dl>
            <dl class="cursor-location fl fn-l w-50 dib-l w-auto-l lh-title mr5-l grow">
              <dd class="f6 fw3 ml0">From</dd>
              <dd class="f3 ml0">Murcia, Spain</dd>
            </dl>
            <dl class="cursor-code fl fn-l w-50 dib-l w-auto-l lh-title mr5-l grow">
              <dd class="f6 fw3 ml0">Language</dd>
              <dd class="f3 ml0">JavaScript</dd>
            </dl>
            <dl class="cursor-windsurf fl fn-l w-50 dib-l w-auto-l lh-title mr5-l grow">
              <dd class="f6 fw3 ml0">Favorite Sport</dd>
              <dd class="f3 ml0">Windsurfing</dd>
            </dl>
          </div>
          <div class="pt4 fade-in fade-in-delay-large">
            {% include home/social-links.html %}
          </div>
        </div>
      </div>
    </div>
  </header>
</section>

<script>
  var avatars = ['images/avatar.jpg', 'images/avatar-glitch.jpg']
  var el = document.getElementById('avatar')
  var times = [3000, 150, 3000, 300, 1000, 800]
  var index = 0

  function hover(element) {
    element.setAttribute('src', 'images/avatar-glitch.jpg');
    element.classList.add("animate-glitch");
  }
  function unhover(element) {
    element.setAttribute('src', 'images/avatar.jpg');
    element.classList.remove("animate-glitch");
  }


  function glitchEffect() {
    var isGlitch = index % 2 === 0
    var avatar = isGlitch ? 'images/avatar-glitch.jpg' : 'images/avatar.jpg'
    var timing = times[index % times.length]
    setTimeout(function () {
      el.setAttribute('src', avatar);
      el.classList[isGlitch ? 'add' : 'remove']('animate-glitch')
      index = index + 1
      glitchEffect()
    }, timing)
  }
  glitchEffect()
</script>
