<section class="bg-white sans-serif near-black pt3 ph3 mt5">
  <header class="pv4" id="#writings">
    <div class="mauto ph4-l max-width-large">
      <h2 class="m0 f1-l f2 lh-1p125 fw7 serif">Writings</h2>
    </div>
  </header>

  <ul class="list pl0 mauto pv3 ph4-l max-width-large external-icon visited">
    {% assign posts = "" | split: "" %}

    {% for post in site.posts %}
    {% unless post.draft %}
    {% assign posts = posts | push: post %}
    {% endunless %}
    {% endfor %}

    {% for post in posts limit:5 %}
    <li class="mb4">
      <span class="ttu f6 b mr2 tracked light-silver db">
        {{ post.date | date: "%B %e, %Y" }}
      </span>
      {% include post-link.html class="near-black dim link link-dotted f3 mb3 lh-copy" post=post %}
    </li>
    {% endfor %}
  </ul>

  <div class="mauto ph4-l pv3 max-width-large">
    <h3 class="normal f3 near-black mt0 mb5">
      Read more on my <a class="b near-black link link-underline" href="/blog">blog</a>.
    </h3>
  </div>
</section>
