on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  CI: true

jobs:
  urlint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Node.js
        uses: actions/setup-node@v6
      - name: Execution
        run: npx urlint && curl -fsS -m 10 --retry 5 -o /dev/null https://hc-ping.com/11da2ccb-b96d-4d89-94ca-aac1bc5bcbcf
